.App {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #003300, #006666);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .App {
    text-align: center;
  }
  
  .password-form {
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #00ffcc;
    border: 1px solid red;
  }
  
  .password-form h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .password-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .password-form p {
    margin-bottom: 1rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
    position: relative;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .input-group button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #00ffcc;
    cursor: pointer;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .checkbox-group input {
    margin-right: 0.5rem;
  }
  
  .checkbox-group label {
    margin: 0;
  }
  
  .submit-btn {
    background-color: #00ffcc;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #003300;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #00cc99;
  }
  
  .password-form a {
    color: #00ffcc;
    display: block;
    margin-top: 1rem;
    text-decoration: none;
  }
  
  .password-form a:hover {
    text-decoration: underline;
  }
  