.header{
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    height: 8vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    >div:first-child{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid white; */
        >h1{
            color: crimson;
        }
    }
    >div:last-child{
        width: 80%;
        height: 100%;
        /* border: 1px solid rgb(60, 235, 25); */
        >nav{
            height: 100%;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            >a{
                color: white;
                text-decoration: none;
                font-size:x-large;
                font-weight: 600;
            }
        }
    }
}